@model EmployersSalary.Models.Employer
@{
    ViewBag.Title = "ListEmployer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName @Model.LastName,</h2>

@if (Model.NetSalary == null)
{
    <h3> Your Net salary has not been set.</h3>
}
else {<h3> Your Net salary is @Model.NetSalary</h3>}

